[Desktop Entry]
Categories=Application;Utility;Calendar;
Comment=Calendar is a date tool.
Exec=dde-calendar
GenericName=Calendar
Icon=dde-calendar
Name=Deepin Calendar
StartupNotify=false
Terminal=false
Type=Application
X-Deepin-Vendor=deepin
X-MultipleArgs=false

# Translations:
# Do not manually modify!
Comment[am_ET]=ቀን መቁጠሪያ
Comment[ar]=التقويم هو أداة عرض التاريخ .
Comment[ast]=Calendariu ye una ferramienta de dates.
Comment[az]=Kalendar tarix alətidir
Comment[bg]=Календарът е приложение за показване на датата.
Comment[bn]=কেলেণ্ডার একটি সময় টুল
Comment[ca]=El calendari és una eina de cites.
Comment[cs]=Kalendář je nástroj pro práci s daty.
Comment[da]=Kalender er et datoværktøj.
Comment[de]=Kalender ist ein Datumswerkzeug.
Comment[el]=Εφαρμογή Ημερολογίου 
Comment[en_GB]=Calendar is a date tool
Comment[eo]=Kalendaro estas datilo.
Comment[es]=Calendario es una herramienta de gestión de fechas.
Comment[es_419]=Calendario es un almanaque.
Comment[fa]=تقویم یک ابزار تاریخ است.
Comment[fi]=Kalenteri on päivämäärätyökalu. 
Comment[fr]=Simple calendrier.
Comment[gl_ES]=O calendario é unha ferramenta de datas.
Comment[hi_IN]=दिनदर्शिका दिनांक हेतु एक साधन है।
Comment[hr]=Kalendar je alat za rad sa vremenom.
Comment[hu]=Naptár alkalmazás
Comment[id]=Kalender adalah sebuah peralatan tanggal.
Comment[it]=Calendar è un tool calendario.  Localizzazione italiana a cura di Carofano Massimo Antonio.
Comment[ja]=カレンダーは日時ツールです。
Comment[kn_IN]=ಕ್ಯಾಲೆಂಡರ್ ಒಂದು ದಿನದರ್ಶಕವಾಗಿದೆ.
Comment[ko]=Calendar는 일정 관리도구입니다.
Comment[ku_IQ]=ساڵنامە ئامرازێکی بەروارە
Comment[lt]=Kalendorius yra datų įrankis.
Comment[ml]=കലണ്ടർ ഒരു തീയതി ഉപകരണം ആണ് 
Comment[ms]=Kalendar merupakan alat tarikh.
Comment[nb]=Kalander er et redskap for å organisere hendelser etter dato og klokkeslett.
Comment[ne]=क्यालेन्डर एक मिति उपकरण हो।
Comment[nl]=Kalender is een hulpmiddel voor het bijhouden van afspraken.
Comment[pl]=Kalendarz to narzędzie zarządzania czasem.
Comment[pt]=O Calendário é uma ferramenta de agendamento.
Comment[pt_BR]=Calendário é uma ferramenta de data.
Comment[ro]=Calendarul este un instrument pentru date
Comment[ru]=Календарь является приложением для планирования Вашего времени.
Comment[sk]=Kalendár je dátumový nástroj.
Comment[sl]=Koledar je orodje za urejanje datumov.
Comment[sr]=Календар је алат за приказивање датума.
Comment[sv]=Kalender är ett datumverktyg.
Comment[ta]=அட்டவணை தேதி கருவியாகும்
Comment[tr]=Takvim, tarihi görüntüleyen bir araçtır.
Comment[ug]=كالىندار ئۇ ۋاقىت قۇرالى
Comment[uk]=Календар
Comment[vi]=Lịch là một công cụ ngày tháng.
Comment[zh_CN]=日历是一款查看日期、管理日程的工具。
Comment[zh_TW]=簡易日期顯示工具
GenericName[am_ET]=ቀን መቁጠሪያ
GenericName[ar]=التقويم
GenericName[ast]=Calendariu
GenericName[az]=Kalendar
GenericName[bg]=Календар
GenericName[ca]=Calendari
GenericName[cs]=Kalendář
GenericName[da]=Kalender
GenericName[de]=Kalender
GenericName[el]=Ημερολόγιο
GenericName[eo]=Kalendaro
GenericName[es]=Calendario
GenericName[es_419]=Calendario
GenericName[fr]=Calendrier
GenericName[gl_ES]=Calendario
GenericName[hr]=Kalendar
GenericName[hu]=Naptár
GenericName[id]=Kalender
GenericName[it]=Calendar
GenericName[ja]=カレンダー
GenericName[ko]=달력
GenericName[ku_IQ]=Salname
GenericName[lt]=Kalendorius
GenericName[ml]=കലണ്ടർ
GenericName[mn]=Календар
GenericName[ms]=Kalendar
GenericName[ne]=क्यालेन्डर
GenericName[nl]=Kalender
GenericName[pl]=Kalendarz
GenericName[pt]=Calendário
GenericName[pt_BR]=Calendário
GenericName[ro]=Calendar
GenericName[ru]=Календарь
GenericName[sk]=Kalendár
GenericName[sl]=Koledar
GenericName[sr]=Календар
GenericName[sv]=Kalender
GenericName[tr]=Takvim
GenericName[uk]=Календар
GenericName[vi]=Lịch
GenericName[zh_CN]=日历
GenericName[zh_TW]=日曆
Name[am_ET]=ዲፕኢን ቀን መቁጠሪያ
Name[ar]=تقويم ديبين
Name[ast]=Deepin Calendar
Name[az]=Deepin Kalendarı
Name[bg]=Deepin Календар
Name[bn]=ডিপিন ক্যালেন্ডার
Name[ca]=Calendari del Deepin
Name[cs]=Kalendář
Name[da]=Deepin kalender
Name[de]=Deepin Kalender
Name[el]=Ημερολόγιο Deepin
Name[en_GB]=Deepin Calendar
Name[eo]=Deepin kalendaro
Name[es]=Calendario Deepin
Name[es_419]=Calendario Deepin
Name[fa]=تقویم Deepin
Name[fi]=Deepin-kalenteri
Name[fr]=Deepin Calendrier
Name[gl_ES]=Calendario do Deepin
Name[hi_IN]=डीपिन दिनदर्शिका
Name[hr]=Deepin kalendar
Name[hu]=Deepin Naptár
Name[id]=Kalender Deepin
Name[it]=Deepin Calendar
Name[ja]=Deepin カレンダー
Name[kn_IN]=ಡೀಪಿನ್ ಕ್ಯಾಲೆಂಡರ್
Name[ko]=Deepin Calendar
Name[ku_IQ]=ساڵنامەی Deepin
Name[lt]=Deepin kalendorius
Name[ml]=ഡീപിൻ കലണ്ടർ
Name[ms]=Kalendar Deepin
Name[nb]=Deepin Kalender
Name[ne]=डिपिन क्यालेन्डर
Name[nl]=Deepin Kalender
Name[pl]=Kalendarz Deepin
Name[pt]=Deepin Calendar
Name[pt_BR]=Calendário
Name[ro]=Calendarul Deepin
Name[ru]=Календарь Deepin
Name[sk]=Deepin Kalendár
Name[sl]=Koledar Deepin
Name[sr]=Дипин Календар
Name[sv]=Deepin kalender
Name[ta]=டீபின் நாள்காட்டி
Name[tr]=Deepin Takvim
Name[ug]=Deepin كالىندارى
Name[uk]=Календар Deepin
Name[vi]=Lịch Deepin
Name[zh_CN]=日历
Name[zh_TW]=Deepin 日曆

